<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
</head>
<body>

<form onsubmit="return false" action="##">
    <input name="username" value="123">
    <input name="password" value="123">
    <input name="redirectUrl" id="redirectUrl" type="hidden">
    <button onclick="login()">登录</button>
</form>
<script type="application/javascript" th:inline="javascript">
    const deployUrl = [[${deployUrl}]]

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    function login() {

        let redirectUrl = getUrlParam('redirectUrl');
        $('#redirectUrl').val(redirectUrl)
        let formData = $('form').serialize();

        console.log(formData)
        if (!redirectUrl) {
            alert('无重定向域名.')
            return false
        }

        $.post(deployUrl + "/auth/login", formData, resp => {
            console.log(resp)
            console.log(redirectUrl)
            if (resp.code == '200') {
                window.location.href = redirectUrl + "?token=" + resp.data.token;
            } else {
                alert(resp.msg)
            }
        })
    }
</script>
</body>
</html>